.cell {
    height: 40px;
    width: 40px;
}

.wall {
    background: darkslategray;
}

.floor {

}

.target {
    background: cadetblue
}

.man {
    background-image: url("man.png")
}

.box {
    background: peru
}